<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 农户登录mapper start-->
<mapper namespace="cn.xy.mapper.StoreMapper">
    <select id="login" parameterType="Store" resultType="Store">
        select sid,sname,spassword from store
        where sname=#{sname,jdbcType=VARCHAR}
        and spassword=#{spassword,jdbcType=VARCHAR}
    </select>
<!-- 农户登录mapper end-->

<!--  农户手机登录mapper start -->
    <select id="loginByPhone" parameterType="Store" resultType="Store">
        select sid,sphone from store
        where sphone=#{sphone,jdbcType=VARCHAR}
    </select>
<!-- 用户农户登录mapper end-->

<!-- 农户注册mapper start   -->
    <insert id="register" parameterType="Store">
        insert into store(sname, spassword, simage, sphone, state, cdcard)
        values(#{sname},#{spassword},#{simage},#{sphone},#{state},#{cdcard})
    </insert>
<!-- 农户注册mapper end   -->

<!-- 农户手机注册mapper start-->
    <insert id="registerByPhone" parameterType="Store">
        insert into store(sname, spassword,sphone, state, cdcard)
        values(#{store.sname},#{store.spassword},#{store.sphone},#{store.state},#{store.cdcard})
    </insert>
    <!-- 农户手机注册mapper end-->
</mapper>